@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    width: 100%;
    margin: 0;
    margin-top: 0;
    background-color: #f9f9fa;
}

a {
    color: black;
}

.center {
    display: table;
    margin: 0 auto;
}

.home-container {
    margin-top: 8%;
}
.home-menu {
    margin-top: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #282828;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.home-menu > li > a > div {
    /* text-transform: uppercase; */
    background-color: #282828;
    margin-bottom: 10px;
    color: #f9f9fa;
    padding: 10px 5px;
    border-bottom: 3px solid #24abbd;
    border-right: 3px solid #f78928;
}

.home-menu > li > a > div:hover {
    border-bottom: 3px solid #00f2ff;
    border-right: 3px solid #ff6a00;
}

.no-underline {
    text-decoration: none;
}

.punkowl {
    padding: 5px 15px;
    background-color: #282828;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.sml {
    font-size: 28px;
    padding-left: 30px;
}

.gradient-bg-prj {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.b-space {
    height: 80px;
}

.project-container {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

.project-item {
    background-color: #121212;
    color: #f9f9f9;
    width: 300px;
    margin: 10px;
    padding: 5px;
}

.punkowl-subtitle {
    font-family: 'Lato', sans-serif;
    border: 3px solid #282828;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-container {
    margin-top: 110px;
    padding: 5px;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;
}

.footer-content {
    text-align: center;
    line-height: 25px;
}